---
import Layout from '../layouts/Layout.astro';
let posts = await Astro.glob('./text1.md');
let post = posts[0];
---

<Layout title="Welcome to Astro.">
	<main>
        <post.Content />
	</main>
</Layout>
<style>
    main{
        width: 909px;
height: 260.91px;
top: 985px;
left: 448px;
gap: 0px;
opacity: 0px;
color: aliceblue;
    }
</style>