---
import Layout from '../layouts/Layout.astro';
import Card from '../components/icon-card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
        <div class="grid-cols-3 gap-4">
		<Card
				href="t1.png"
				body="Easily build logic in coding"
			/>
            <Card
            href="t2.png"
				body="Gain knowledge about the software world  "
			/>
            
            <Card
            href="t3.png"
				body="Ace any coding subjects in your BTech/Degree"
			/>
            <Card
            href="t4.png"
				body="Get exposed to how industry works with Generative AI tools, for software development"
			/>
            <Card
            href="t5.png"
				body="Course completion Certificate"
			/>
        </div>
	</main>
</Layout>