
<div class="pricing flex flex-col align-center w-full items-center md:flex-row ">

<div id="foundation" class="price">
  <p class="p1">FOUNDATIONS</p>
  <p class="p2">21 Days</p>
  <p class="p3">2999 INR</p>
</div>
<div id="btw+" class="btw" >
<br><br>
 <p> + </p>
</div>
<div class="price">
  <p class="p1">ADVANCED</p>
  <p class="p2">21 Days</p>
  <p class="p3">4500 INR</p>
</div>
<div class="btw">
<br><br>
 <p>======</p>
</div>

<div class="price">
  <p class="p1">CBC42</p>
  <p class="p2">42 Days</p>
  <p class="p3">7499 INR</p>
</div>
  
</div>
